{
  "plugins": ["prettier"],
  "extends": "airbnb",
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "alias": [
        ["@@pages", "./src/__pages__"],
        ["@@components", "./src/components"],
        ["@@dialogs", "./src/dialogs"],
        ["@@utils", "./src/utils"],
        ["@@datas", "./src/datas"],
        ["routes", "./src/routes"]
      ]
    }
  },
  "rules": {
    "strict": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": "error",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "arrow-parens": "off",
    "arrow-body-style": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "max-len": ["error", { "code": 120 }],
    "no-useless-escape": "off",
    "no-use-before-define": "off",
    "react/require-default-props": "off",
    "object-curly-newline": "off"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "globals": {
    "window": true,
    "document": true,
    "sessionStorage": true,
    "localStorage": true
  }
}