{
  "plugins": ["prettier", "react-hooks"],
  "extends": "airbnb",
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "alias": [
        ["@@pages", "./src/__pages__"],
        ["@@components", "./src/components"],
        ["@@dialogs", "./src/dialogs"],
        ["@@utils", "./src/utils"],
        ["@@hooks", "./src/hooks"],
        ["@@const", "./src/const"],
        ["@@datas", "./src/datas"],
        ["@@actions", "./src/redux/actions"],
        ["@@selectors", "./src/redux/selectors"],
        ["routes", "./src/routes"],
        ["global", "./src/global"]
      ]
    }
  },
  "rules": {
    "strict": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": "error",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "arrow-parens": "off",
    "arrow-body-style": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "max-len": ["error", { "code": 120 }],
    "no-useless-escape": "off",
    "no-use-before-define": "off",
    "react/require-default-props": "off",
    "object-curly-newline": "off",
    "comma-dangle": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/no-unknown-property": "off",
    "react/jsx-no-useless-fragment": "off"
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "requireConfigFile": false
  },
  "globals": {
    "window": true,
    "document": true,
    "WebSocket": true
  }
}