.overlay {
  position: fixed;
  /* Sit on top of the page content */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100vh;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Black background with opacity */
  background-color: rgba(0, 0, 0, 0.1);
  /* Specify a stack order in case you're using a different order for other elements */
  /*smaller than alert*/
  z-index: 88880;
  /* Add a pointer on hover */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  height: auto;
}

/* Full HD desktop screen */
@media screen and (min-width: 1366px) {
  .loading {
    width: 192px;
  }
}

/* HD desktop screen */
@media screen and (min-width: 992px) and (max-width: 1366px) {
  .loading {
    width: 128px;
  }
}

/* Medium desktop screen */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .loading {
    width: 96px;
  }
}

/* Tablet device */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .loading {
    width: 96px;
  }
}

/* Mobile phone device */
@media screen and (max-width: 576px) {
  .loading {
    width: 64px;
  }
}