$space: 8px;

.footer {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  background: #ebebeb;
  padding: $space 0px;
  font-size: 13px;
}

.copyright, .info {
  margin-left: $space;
  margin-right: $space;
}

.info {
  span[_css_="divider"] {
      margin-left: $space;
      margin-right: $space;
  }

  i[_css_="bug"] {
    color: black;
    cursor: pointer;
    margin-left: $space;
  }
}